*{
    font-family: 'Fredoka', sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    background-color: white;
}

.center-text{
    text-align: center;
}

a{
    text-decoration: none;
    color: #1B6AA1;
}

section{
    margin-bottom: 50px;
}

address{
    font-style: normal;
}


/* Contenitore */

.container{
    margin: 0 auto;
    max-width: 1300px;
}

/* title */

.main-header{
    margin: 50px 0;
}

h1{
    color: #E53170;
    font-weight: bold;
}

/* Main */

.block{
    width: calc(100% /3);
    height: 100px;
    margin-bottom: 10px;
}

img{
    width: 100px;
    height: 100px;
} 

.label{
    background-color: black;
    color: white;
    height: 100px;
    padding: 10px 50px 10px 10px;
}

.clear-fix::after{
    content: '';
    clear: both;
    display: table;
}

.float-box{
    float: left;
}

.second-container{
    max-width: 1100px;
    margin: 0 auto;
}
